theme "catppuccin-macchiato"
keybinds {
  normal {
    bind "Ctrl l" { GoToNextTab; }
    bind "Ctrl h" { GoToPreviousTab; }
    bind "Ctrl j" { FocusNextPane; }
    bind "Ctrl k" { FocusPreviousPane; }
    bind "Super w" { CloseFocus; }
    bind "Super t" { NewTab; }
    bind "Super n" { NewPane; }
    bind "Ctrl q" { Detach; }
    bind "Ctrl Shift q" { Quit; }
  }
  shared_except "normal" {
    bind "j" { SwitchToMode "normal"; }
  }
}
ui {
  pane_frames {
    rounded_corners true
  }
}
