layout {
    pane size=1 borderless=true {
        plugin location="compact-bar"
    }
    pane split_direction="vertical" {
        pane name="claude" size="40%" command="zsh" {
            args "-c" "claude --continue"
        }
        pane split_direction="horizontal" {
            pane name="nvim" size="70%" command="zsh" {
                args "-c" "nvim --listen /tmp/nvim-$ZELLIJ_SESSION_NAME.pipe"
            }
            pane split_direction="vertical" {
                pane
                pane
            }
        }
    }
    new_tab_template {
      pane size=1 borderless=true {
        plugin location="compact-bar"
      }
      pane
    }
}
